<body class="stretched device-xs" data-loader-html="<img src='images/loader.gif' style='position:absolute;top:50%;left:50%;margin-top:-50px;margin-left:-50px;' />">
  <!------------------------------------------------------------------------------>
<div class="container">
  <div class="jumbotron">
<h1>Welcome To bOAt Life Style !</h1>

</div>

<div class="row">
      <img src="assets/images/usb1.png" width="100%" height="485px">
      <h1 style="font-family: all; font-stretch: ultra-condensed; color: #FFFFFF; font-weight: 1200; color: black"><b>Industructible Lighting Cable</b></h1>
</div>

<div class="col-md-12 col-lg-12" id="2">
<div class="transbox">
  <div class="col-lg-12">
    <div class="col-lg-12">
  <p style="font-family: monospace; font-style: italic;font-size: 25px; color: white"><b>SPACESHIP GRADE ALUMINUM CASING ENSURES LONG-LASTING DURABILITY AND RELIABLE CHARGING.</b></p>  
  </div>
  </div>
</div>
</div>


<div id="fetur" class="container-fluid padding bg-light">

  <div class="row padding">
    <div class="col-md-6 col-lg-6">
      <img src="assets/images/uss.png" width="50%" height="50%" class="img-fluid" style="margin-left: 90px">
    </div>
    <div class="col-md-4 col-lg-4">
      <h2 style="margin-left: 90px">TANGLE FREE</h2>

      <p style="text-align: left; text-align: justify; margin-left: 50px">Metal braided heavy-duty cable skin, is stress and stretch resistant, protects against day-to-day wear and tear. Besides adding significant protection to th inner conductor, the jacket also makes it almost impossible to tangle the cable. It Provides up to 2.4A data transfer and high-speed charging.</p>
    </div>
  </div>

    <hr style="border:1px solid grey;margin-left: 100px;margin-right: 100px">

    <div class="row padding">
    <div class="col-md-3 col-lg-4">
      <h2 style="margin-left: 90px">ALUMINUM FINISH</h2>
      <p style="text-align: left; text-align: justify; margin-left: 90px">Anodized aluminum tips not only give added protection to the conductor, it also gives the cable a classy, high quality look and feel. The boAt indestructible lightning cable gives an iPhone/iPad the cable desered, both in terms of the style and durability.</p>
    </div>
    <div class="col-lg-6 col-md-6">
      <img src="assets/images/us.png" width="50%" height="50%" class="img-fluid" style="margin-left: 160px">
    </div>
  </div>  

    <hr style="border:1px solid grey;margin-left: 100px;margin-right: 100px">

    <div class="row padding">
    <div class="col-lg-4 col-md-4">
      <h2 style="margin-left: 90px">APPLE CERTIFIED CABLE</h2>
      <p style="text-align: left; text-align: justify; margin-left: 90px">The cable has certified is given to only those cables that can sync with an Apple product, in particular the latest generation of iPhones and iPads. This boAt industructible Cable receives this certification making it super easy to plug-n-play your iPhone or iPad with a charger, laptop or computer.</p>
    </div>
    <div class="col-lg-6 col-md-6">
      <img src="assets/images/usb5.png" width="50%" height="50%" class="img-fluid" style="margin-left: 160px">
    </div>
  </div>
  
  <hr style="border:1px solid grey; margin-left: 100px;margin-right: 100px">

  <div class="row padding">
      <div class="col-lg-6 col-md-6">
      <img src="assets/images/usb4.png" width="50%" height="50%" class="img-fluid" style="margin-left: 40px">
    </div>
    <div class="col-lg-4 col-md-4">
      <h2 style="margin-left: 90px">2 YEAR WARRANTEE</h2>
      <p style="text-align: left; text-align: justify; margin-left: 90px">The cable has certified is given to only those cables that can sync with an Apple product, in particular the latest generation of iPhones and iPads. This boAt industructible Cable receives this certification making it super easy to plug-n-play your iPhone or iPad with a charger, laptop or computer.</p>
    </div>
  </div>
  </div>

<div id="gallary" class="container-fluid padding">
  <div class="row welcome text-center">
    <div class="col-12">
      <br><br>
      <h1 style="color: white; font-size:30px;font-family: sans-serif;font-weight: bolder;">IMAGE GALLERY</h1>
      <hr style="margin-left: 600px;margin-right: 600px; border: 2px solid white">
    </div>
    <hr>
  </div>
</div>

<div class="container-fluid padding">
  <div class="row padding " data-toggle="collapse">
    <div class="col-md-4">
      <div class="card">
        <img class="card-img-top" src="assets/images/us1.png" width="40%" height="40%">
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img class="card-img-top" src="assets/images/us1.png" width="40%" height="40%">
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img class="card-img-top" src="assets/images/usb11.png" width="40%" height="30%">
      </div>
    </div>
  </div>
</div>
<br><br>
<div class="container-fluid padding bg-light">
  <div class="row padding">
    <div class="col-md-6 col-lg-6">
      <img src="assets/images/usb3.png" width="80%" height="80%">
    </div>
    <div id="color" class="col-md-4 col-lg-4">
      <h2 style="margin-left: 50%; text-align: justify; text-align: left;">COLORS</h2>
      <h4><p style="text-align: left; text-align: justify; margin-left: 90px">iPhone/iPad Macthing Connectors - Match your boAt Cable with your iPhone. Availabe in 3 Colors</p></h4>

      <h5><p style="text-align: left; text-align: justify; margin-left: 90px">Guaranteed to work with all IOS versions for Apple iPhone 6/ 6 Plus, 5S/5C/5, iPad Air 1/2, iPad2/3/4, iPad Mini 1/2/3, iPad Retina and iPod Touch, etc.</p></h5>
<br>
</div>
</div>
</div>  
 <br>
  
  </div>
</body>
